* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
}


:root {
    /* font-size: small; */
    --mainfont: 'Bree Serif', serif;
    --secondaryfont: 'Work Sans', sans-serif;
    --main-white-color: #FFFEFE;
    --main-white-75: rgba(255, 254, 254, 0.75);
    --main-white-25: rgba(255, 254, 254, 0.25);
    --primary-yellow: #F3ED66;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Work+Sans:wght@500&display=swap');

/* code for black screen 
######################## */
.blackscreen {
    background-color: black;
    height: 100vh;
    width: 100vw;
    /* opacity: 0.95; */
    filter: bac;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(550px);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);


}


/* navigation bar 
################### */
.topnav {
    /* outline: 2px solid yellow;
    outline-offset: -2px; */
    height: 54px;
    width: 98%;
    position: absolute;
    margin: 0px 1%;
    top: 10px;
    /* left: 10px; */
    /* right: 10px; */
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* gap: 708px; */
    z-index: 99;
}

.leftmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 29.27px;
}

.leftmenu img {
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3.13px;
}

.logo h3 {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 23.6706px;
    line-height: 27px;
    color: var(--main-white-color);

}

.rightmenu h3 {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: var(--main-white-color);
}

.rightmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 34px;
}

.home,
.destinations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    text-decoration: none;
    transition: border 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}


.home:hover,
.destinations:hover {
    border-bottom: 1px solid var(--primary-yellow);
}

/* end of navigation bar  */

/* pagepiling sections 
########################## */
/* #pagepiling {
    filter: blur(1px);
} */

/* right
 side navigation 
########################## */
#pp-nav span {
    /* color: yellow; */
    width: 0.75rem !important;
    height: 0.75rem !important;
    background: var(--main-white-25) !important;
}

#pp-nav .active span {
    /* color: yellow; */
    width: 0.75rem !important;
    height: 0.75rem !important;
    background: var(--main-white-75) !important;
}




.section {
    /* background-color: aqua; */
    /* filter: blur(30px); */
    /* transition: all 0.5s ; */
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}


/* sun overview 
############################### */
.overview-page {
    background-color: #0a0a0a;
    background-image: url(../../Resources/mobilebg.png);
    /* background-size: 100%;   */
    background-size: cover;

    /* background-position: center; */
    /* outline: 3px solid blue;
    outline-offset: -3px; */
}

.overview-page .hero1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 1s;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    /* width: 1021.61px;
    height: 550px; */
}

.overview-page .hero1 .text1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.text1 .headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.text1 h1 {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 121px;
    /* line-height: 140px; */
    /* or 116% */
    /* width: 471.61px; */
    margin-bottom: -24px;

    /* Primary + sun primary */

    color: var(--primary-yellow);

    text-shadow: 0px 0px 6.93548px #FC7F07;
}

.text1 h2 {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 81px;
    line-height: 110px;
    color: var(--main-white-color);
}

.post-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 11px;
    gap: 8px;
}

.post-text p {
    font-family: var(--secondaryfont);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--main-white-color);
}

/* start of section 2 - orbit and rotation
######################### */

/******************************************
 note that section2 main container css is also being used for other sections as well  */


.orbit-and-rotation {
    /* background-color: #f3ed66; */
    background-color: #000000;
    /* background-image: url(../../Resources/mobilebg.png); */
    /* background-size: 100%;   */
    /* background-size: cover; */
}

.sec2-maincontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: grid;
    grid-template-areas:
        "heading heading heading heading heading"
        "image image text text text";
    grid-gap: 10px;
    /* transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); */


}

.sec2-headings {
    grid-area: heading;
    display: flex;
    flex-direction: column;
}

.sec2-headings h2 {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 36.8868px;
    line-height: 43px;
    color: var(--primary-yellow);
    text-shadow: 0px 0px 2.11428px #FC7F07;
}

.sec2-headings h1 {
    /* Heading 2 */

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 81px;
    /* line-height: 110px; */
    margin-top: -21px;
    color: var(--main-white-color);
}

.sec2-image {
    grid-area: image;
}

.sec2-text {
    grid-area: text;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19.685px;
    line-height: 25px;
    /* or 128% */


    color: #FFFFFF;
}

/* code for section 3 - formation
######################################### */

.formation {
    background-color: #0A0A0A;
}

.sec3-maincontainer {
    margin-top: 1.5rem;
}

/* code for section 4 - formation
######################################### */

.sec4 {
    background-color: #f3ed66;
}

/* ###########################
end of pagepiling section  */


/* query for sidenavigation 
########################### */
.sidenav {
    background-color: var(--primary-yellow);
    height: 100vh;
    width: 55vw;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    position: absolute;
    z-index: 12;
    opacity: 1;
    overflow-y: scroll;
    /* margin-top: 5vh; */
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* box-shadow: 10px 10px #ffffff; */
    z-index: 101;
}

.sidenav[aria-checked="true"] {
    transform: translateX(0%);
}

.sidenav[aria-checked="false"] {
    transform: translateX(-100%);
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav .cross-btn {
    cursor: pointer;
    position: sticky;
    top: 21px;
    left: 21px;
}

.sidenav ul {
    margin-top: 40px;
}

.sidenav ul li {
    padding: 1.2vh 10vw;
    list-style: none;
}

.sidenav ul li:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.side-list-subheading:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidenav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.sidenav ul li a p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 31.0741px;
    line-height: 36px;
    color: #0A0A0A;
}

.sidenav-planet-img {
    width: 5vh;
}

.side-list-subheading {
    /* position: absolute; */
    /* left: 46.66px;
        top: 92px; */

    font-family: var(--secondaryfont);
    font-style: normal;
    font-weight: 300;
    font-size: 31.0741px;
    line-height: 36px;

    /* black 50% */

    color: rgba(10, 10, 10, 0.5);
}

.active-sublist-item {
    background-color: rgba(0, 0, 0, 0.25);
}


/* media queries
############################### */

@media screen and (max-width :682px) {

    /* moving the side navigation by 24 pixels  */
    #pp-nav {
        margin-right: -1rem !important;
    }


    /* code for first section 
    ########################################## */
    .overview-page .hero1 {
        flex-direction: column-reverse;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    .overview-page .hero1 img {
        width: 100%;
        margin-bottom: -45px;
    }

    .rightmenu h3 {
        display: none;
    }

    .text1 .headings {
        align-items: center;
    }

    .text1 h1 {
        /* width: 400px; */
        font-size: 90px;
        margin-bottom: -44px;
    }

    .text1 h2 {
        width: auto;
        font-size: 64px;
    }

    .overview-page .hero1 .text1 {
        gap: 0px;
    }

    .post-text {
        align-items: center;
    }


    .post-text p {
        font-size: 14px;
        text-align: center;
    }

    /* query for sidenavigation
    ############################ */
    .sidenav {
        background-color: var(--primary-yellow);
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 101;
        opacity: 1;
        overflow: scroll;
        /* margin-top: 5vh; */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    .sidenav[aria-checked="true"] {
        transform: translateX(0%);
    }

    .sidenav[aria-checked="false"] {
        transform: translateX(-100%);
    }

    .sidenav .cross-btn {
        position: sticky;
        top: 21px;
        left: 3px;
    }

    .sidenav ul {
        margin-top: 60px;
    }

    .sidenav ul li {
        padding: 1.2vh 10vw;
        list-style: none;
    }

    .sidenav ul li a {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        text-decoration: none;
    }

    .sidenav ul li a p {
        /* width: 135.95px;
        height: 40.14px; */
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 31.0741px;
        line-height: 36px;

        /* Dark */

        color: #0A0A0A;

    }

    .sidenav-planet-img {
        width: 5vh;
    }

    .side-list-subheading {
        /* position: absolute; */
        /* left: 46.66px;
        top: 92px; */

        font-family: var(--secondaryfont);
        font-style: normal;
        font-weight: 300;
        font-size: 31.0741px;
        line-height: 36px;

        /* black 50% */

        color: rgba(10, 10, 10, 0.5);
    }

    .active-sublist-item {
        background-color: rgba(0, 0, 0, 0.25);
    }

    /* query for section 2 - orbit and rotation
    ####################### */
    .sec2-maincontainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: grid;
        grid-template-areas:
            "heading "
            "text"
            "image";
        grid-gap: 10px;
        /* transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); */


    }

    .sec2-image {
        width: 90%;
        justify-self: center;
    }

    .sec2-headings h1 {
        font-size: 48.384px;
        line-height: 103.8%;
        margin-top: 0px;
    }


    .sec2-headings h2 {
        font-size: 32.929px;
        line-height: 38px;
    }


    /* code for section 3 
    ############################ */
    .sec3-image {
        width: 110%;
    }


    /* media for even smaller screen phones  */
    @media screen and (max-height : 810px) {

        .sec2-maincontainer {
            margin-top: 10px;
        }

        .sec2-headings h1 {
            font-size: 32.929px;
            line-height: 27px;
            margin-top: 0px;
        }


        .sec2-headings h2 {
            font-size: 24.929px;
            line-height: 38px;
        }

        .sec2-image {
            width: 80%;
        }
    }

    @media screen and (max-height : 728px) {

        .sec2-maincontainer {
            margin-top: 10px;
        }

        .sec2-headings h1 {
            font-size: 32.929px;
            line-height: 27px;
            margin-top: 0px;
        }


        .sec2-headings h2 {
            font-size: 24.929px;
            line-height: 38px;
        }

        .sec2-image {
            width: 80%;
        }
    }



    .sec2-text {
        font-size: 11.8355px;
        line-height: 18px;
        gap: 2px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-height :682px) and (orientation : landscape) {
    * {
        font-size: 3px;
    }

    body {
        font-size: 4px;
    }
}