/* query for preloader gif  
####################################################*/


#preloader {
    /* transition: all 2s ease; */
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    /* border: 2px solid yellow; */
    background-color: #000000;
    /* color: blueviolet; */
    z-index: 10000;

}

.loadingscreenstuff {
    /* border: 2px solid blue; */
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* display: flex; */
}

.preloader_loader_img {
    height: 40vh;
    /* width: 40vh; */
    position: absolute;


}

/* code for blackscreen sidemenu 
#################################### */
.blackscreen {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    /* opacity: 0.95; */
    /* backdrop-filter: blur(0.625rem); */
    /* -webkit-backdrop-filter: blur(34.375rem); */
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);


}

/* query for pagepiling section's 
######################################################## */
.section {
    overflow: hidden;
}

/* query for overview page bg video 
######################################################## */


.overview-bg-video {
    /* border: 2px solid white; */
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
    opacity: 0.50;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* query for all sections image hover effect 
##############################################*/
.sec2-image {
    transition: all 0.3s ease-in-out;

}

.sec2-image:hover {
    transform: scale(1.04);

}

/* code for overview page bold colors  */
strong {
    color: var(--planet-primary);
}

/* .overview-page strong {
    color: var(--planet-primary);
} */

/* code for colors of text
######################################## */
.white60 {
    color: rgba(255, 254, 254, 0.75);
}

.textgreen {
    color: #92ca91;
}

.textred {
    /* color: #d14348; */
    color: #dc7175;
}

.textyellow {
    /* color: #f2f3e2; */
    color: #feffb1;
}

.textpurple {
    color: #c5c0e7;
    /* color: #ca8dfd; */
}

.textblue {
    color: #73e6ff;
}

/* query for sidenavigation 
########################### */
.sidenav {
    background-color: var(--planet-primary);
    background-image: var(--side-nav-gradient) !important;
    height: 100vh;
    width: 55vw;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    position: absolute;
    z-index: 12;
    opacity: 1;
    overflow-y: scroll;
    /* margin-top: 5vh; */
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* box-shadow: 10px 10px #ffffff; */
    z-index: 101;
    background-size: 140%;
    BACKGROUND-POSITION: center center;
}

.sidenav[aria-checked="true"] {
    /* transform: translateX(0%); */
    transform: translate3d(0%, 0%, 0px);

}

.sidenav[aria-checked="false"] {
    /* transform: translateX(-100%); */
    transform: translate3d(-100%, 0%, 0px);

}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav .cross-btn {
    cursor: pointer;
    position: sticky;
    top: 1.3125rem;
    left: 1.3125rem;
}

.sidenav ul {
    margin-top: 2.5rem;
}

.sidenav ul li {
    padding: 1.2vh 10vw;
    list-style: none;
}

.sidenav ul li:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.side-list-subheading:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidenav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 0.625rem;
}

.sidenav ul li a p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.94213125rem;
    line-height: 2.25rem;
    color: rgb(0 0 0 / 75%);
}

.sidenav-planet-img {
    width: 2.9rem;
}

.side-list-subheading {
    /* position: absolute; */
    /* left: 46.66px;
        top: 92px; */

    font-family: var(--secondaryfont);
    font-style: normal;
    font-weight: 300;
    font-size: 1.94213125rem;
    line-height: 2.25rem;

    /* black 50% */

    color: rgba(10, 10, 10, 0.5);
}

.active-sublist-item {
    background-color: rgba(0, 0, 0, 0.25);
}


/* media query 
######################################################## */

@media screen and (max-width :682px) {



    /* query for sidenavigation
    ############################ */
    .sidenav {
        background-color: var(--planet-primary);
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 101;
        opacity: 1;
        overflow: scroll;
        /* margin-top: 5vh; */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    /* for position of sidenav  */
    .sidenav[aria-checked="true"] {
        transform: translate3d(0%, 0%, 0px);
        /* transform: translateX(0%); */
    }

    .sidenav[aria-checked="false"] {
        /* transform: translateX(-100%); */
        transform: translate3d(-100%, 0%, 0px);

    }

    .sidenav .cross-btn {
        position: sticky;
        top: 1.3125rem;
        left: 0.1875rem;
    }

    .sidenav ul {
        margin-top: 3.75rem;
    }

    .sidenav ul li {
        padding: 1.2vh 10vw;
        list-style: none;
    }

    .sidenav ul li a {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        text-decoration: none;
    }

    .sidenav ul li a p {
        /* width: 135.95px;
        height: 40.14px; */
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1.94213125rem;
        line-height: 2.25rem;

        /* Dark */

        color: #0A0A0A;

    }

    .sidenav-planet-img {
        width: 2.9rem;
    }

    .side-list-subheading {
        /* position: absolute; */
        /* left: 46.66px;
        top: 92px; */

        font-family: var(--secondaryfont);
        font-style: normal;
        font-weight: 300;
        font-size: 1.94213125rem;
        line-height: 2.25rem;

        /* black 50% */

        color: rgba(10, 10, 10, 0.5);
    }

    .active-sublist-item {
        background-color: rgba(0, 0, 0, 0.25);
    }
}