/* for phone landscape mode 
########################################################################################### */

@media screen and (max-height :450px) and (max-width : 860px) and (orientation : landscape) {
    body::before {
        content: "";
        color: var(--main-white-color);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(../Resources/rotate-phone.gif);
        background-color: #0A0A0A;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15%;
        z-index: 10000;
    }

    body::after {
        content: "please rotate your device";
        color: var(--main-white-color);
        position: absolute;
        z-index: 10001;
        font-family: 'Work Sans';
        /* border: 2px solid white; */
        font-size: 1.2rem;
        display: block;
        margin: auto;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -78%);


    }

}