* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;

}

/* font-family: 'Bree Serif', serif;
font-family: 'Work Sans', sans-serif; */

:root {
    font-size: small;
    --mainfont: 'Bree Serif', serif;
    --secondaryfont: 'Work Sans', sans-serif;
    --main-white-color: #FFFEFE;
    --main-white-75: rgba(255, 254, 254, 0.75);
    --primary-yellow: #F3ED66;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Work+Sans:wght@500&display=swap');

/* might end up using keep it  */
.secondary {
    font-family: var(--secondaryfont);
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.375rem;
    color: #0A0A0A;
}


/* main logo with main title (choose your destination) css */
.main_logo_with_main_title {
    /* Frame 3 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;

    position: absolute;
    width: 54.9375rem;
    height: 10.375625rem;
    left: calc(50% - 54.9375rem/2 - 0rem);
    top: 15px;

}

/* css for main logo */


.heading_with_logo {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 0.315625rem;

    width: 10.995rem;
    height: 4.250625rem;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 10px 0px; */
    margin-bottom: -1.5rem;



}


/* container for main logo - css copied from home  */
.heading_container {
    /* main text */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    width: 8.3125rem;
    height: 4.250625rem;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* headings */
h1,
h2 {
    color: var(--main-white-color);
    font-family: var(--mainfont);
}

.h1 {
    /* Space V */


    width: 8.3125rem;
    height: 2.8125rem;

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3866125rem;
    line-height: 2.75rem;
    /* identical to box height, or 116% */


    /* white 75 */

    color: var(--main-white-75);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.h2 {



    /* white 75 */

    color: var(--main-white-75);


    /* Welcome to */


    width: 8.1875rem;
    height: 2.1875rem;

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1.59765rem;
    line-height: 2.1875rem;
    /* identical to box height */


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -0.7495125rem 0rem;
}

.main_logo_img {
    /* logo img */


    width: 2.366875rem;
    height: 3.64875rem;
    opacity: .75;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main_title {
    width: 54.9375rem;
    height: 6.875rem;

    /* Heading 2 */

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 5.0625rem;
    line-height: 6.875rem;
    /* identical to box height */


    /* white */

    color: var(--main-white-color);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* home button css  */

.home-button-container:hover {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 3.9375rem;
    width: 8.75rem;
    /* border: 2px solid red; */
    border: none;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: rgba(255, 254, 254, 0.12);
    backdrop-filter: blur(8.5px);
    color: var(--main-white-color);
    font-family: var(--mainfont);
    border-radius: 1.875rem;

    /* Note: backdrop-filter has minimal browser support */
    border: none;
}

.home-button-container {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;

    height: 3.9375rem;
    width: 3.9375rem;
    background: rgba(255, 254, 254, 0);
    backdrop-filter: blur(8.5px);
    color: var(--main-white-color);
    font-family: var(--mainfont);
    border-radius: 1.875rem;
    left: 1rem;
    top: 1rem;
    border: none;
    /* opacity: 0; */

    /* Note: backdrop-filter has minimal browser support */
    border: none;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

#homebtn {
    /* css for the button */
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 3.6875rem;
    height: 3.6875rem;
    left: 0rem;
    top: 2px;

    /* white 25 */
    border-radius: 100%;
    background: rgba(255, 254, 254, 0.15);
    backdrop-filter: blur(8.5px);
    /* Note: backdrop-filter has minimal browser support */
    border: none;
    transition: background 0.2s, boxshadow 0.2s;

}



.home-button-container:hover #homebtn {
    background: rgba(255, 254, 254, 0.35);
    box-shadow: 0 0 7px 2px #fffefe75;


}

#homeicon {
    /* forge-icon 1 */
    width: 2.19375rem;
    height: 2.19375rem;

    filter: drop-shadow(0rem 0rem 7px #000000);
}




.home-button-container .extenedbtn {
    position: absolute;
    right: 0;
    padding-right: 0.625rem;
    font-size: 1.5625rem;
    font-weight: 100 !important;
    opacity: 0%;
    /* font-weight: 100 */





}

.home-button-container:hover .extenedbtn {
    position: absolute;
    right: 0;
    padding-right: 0.625rem;
    font-size: 1.5625rem;
    font-weight: 100 !important;
    opacity: 50%;
    /* font-weight: 100 */





}

/* end of home button css  */

/* canvas background */
.canvas {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}



/* code for preloader 
    (use in every page)
*/

@media screen and (max-width : 922px) {
    .main_logo_with_main_title {
        transform: scale(0.7) translateY(-24%);
    }
}